.container{
    margin-top: 20px;
    background-color: white;
    text-align: center;
    padding: 5px 10px;
    min-width:200px ;
    .image{
        height: 60px;
        aspect-ratio: 1/1;
        border-radius: 50%;
    }
    .revContainer{
        p{
            height: 150px;
            max-height: 150px;
            overflow-y: scroll;
            &::-webkit-scrollbar{
                display: none;
            }
        }
    }
}