

$max_width:1200px;
$bg_color:rgb(226, 224, 224);
$bg_red:red;
$bg_teal:teal;

$hover_color:#DB4444;
$color_blue:#0D6EFD;


$font-size-sm:16px;
$font-size-def:20px;
$font-size-lg:24px;
$font-size-xl:26px;


