@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";
.container{
    max-width: 100%;
    margin-top: 30px;
    @include flexContainer;
    flex-wrap: nowrap;
    overflow-x: scroll;
    gap: 20px;
    &::-webkit-scrollbar{
        display: none;
    }
    justify-content: space-between;
    p{
        font-size: 20px;
    }
}

.category{
    border: 1px solid black;
    cursor: pointer;
    text-align: center;
    height: 110px;
    width: 200px;
    max-height: 110px;
    max-width: 200px;
    padding-top: 10px;
    transition: all 0.5s;
    &:hover{
        background-color: $hover_color;
        color: white;
    }
}