@import "./styles/variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    width: min($max_width,99%);
    background-color: $bg_color;
    margin-inline: auto;
    font-family: roboto;
}

a{
    text-decoration: none;
    color: white;
}

@media only screen and (min-width:600px){
    $font-size-def:15px;

}